@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);
#content {
    max-width: 960px;
    margin: 0 auto;
}
body, h1 {
    font-family: 'Rubik', sans-serif;
}
body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    background-color: darkslategrey;
}
h1, h3 {
    color: silver;
    background-color: teal;
}
h2 {
    color: teal;
    background-color: silver;
}
h1, h2, h3 {
    border-radius: 10px;
    padding: .3em;
}
nav {
    background-color: silver;
}
#top {
    text-align: center;
}
#p1, #p3 {
    grid-column-start: 1;
    grid-column-end: 2;
}
#p2 {
    grid-column-start: 3;
    grid-column-end: 4;
}
h1, h2, h3 {
    border-radius: 10px;
    padding: .3em;
}
#p1 h3, #p3 h3 {
    grid-column-start: 2;
    grid-column-end: 4;
}
#p2 h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
img {
    max-width: 320px;
}
#gc, #camp {
    grid-column: 3;
}
#tb {
    grid-column: 1;
}
nav a, nav a:visited {
    color:navy;
}
nav a:hover {
    color: blue;
}
nav a:active {
    color:chartreuse;
}