@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);
#content {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    font-family: 'Rubik', sans-serif;
}
header {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
body {
    background-color: darkslategrey;
}
h1, h3 {
    color: silver;
    background-color: teal;
}
h2 {
    color: teal;
    background-color: silver;
}
h1, h2, h3 {
    border-radius: 10px;
    padding: .3em;
}
nav {
    background-color: silver;
    padding: .3em;
}
img {
    max-width: 300px;
}
nav a, nav a:visited {
    color:navy;
}
nav a:hover {
    color: blue;
}
nav a:active {
    color:chartreuse;
}