@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);
html {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
body, h1 {
    font-family: 'Rubik', sans-serif;
}
h1 {
    grid-column-start: 1;
    grid-column-end: 2;
    color: silver;
    background-color: teal;
}
h2 {
    grid-column-start: 0;
    grid-column-end: 1;
    color: teal;
    background-color: silver;
}
h3 {
    grid-column-start: 1;
    grid-column-end: 2;
    color: silver;
    background-color: teal;
}
body {
    background-color: lavenderblush;
}
h1, h2, h3 {
    border-radius: 10px;
    padding: .3em;
}