h1 {
    color:blue;
}
body {
    background-color: midnightblue;
    text-align: center;
}
.cards {
    background-color: mintcream;
    border-color: midnightblue;
    border-width: 1em;
    border-radius: 1em;
}
