@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
:root {
	--back: hsl(160, 23%, 92%);
    --back2: hsl(188, 35%, 63%);
    --back3: hsl(203, 28%, 52%);
    --foredark: hsl(0,0%,0%);
	--forelight: hsl(0,0%,100%);
	--border: hsl(0,0%,50%);
	--shadow: hsl(0,0%,33%);
	--zebra: hsl(135, 100%, 95%);
}

table {
	margin: 10px auto;
	border: 1px solid var(--border);
	box-shadow: 10 10 10px var(--shadow);
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
	color: var(--foredark);
	font-size: .85rem;
    background-color: var(--back2);
    border: 1px solid var(--border);
}

tbody tr:first-child th {
	background-color: var(--back);
	color: var(--foredark);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--border);
}

#trtoo {
	background-color: var(--back3);
    color: var(--forelight);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

#nov {
    background-color: var(--back3); 
    color: var(--forelight);
}
#bf {
    font-style: italic;
}

#trwon {
	background-color: var(--back2);
    color: var(--foredark);
    font-size: 2rem;
}