body {
    background-color: lightcyan;
}
header, nav, footer {
    font-family: 'Readex Pro', sans-serif;
}
header, footer {
    background-color: midnightblue;
    color: lightsteelblue;
    text-align: center;
}
nav {
    background-color: darkcyan;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr)); 
    margin: 0;
    padding: 2em;
    text-align: center;
}
nav a, nav a:visited {
    color:lightseagreen;
}
#current {
    color: springgreen;
    font-weight: bold;
}
main {
    font-family: 'Crete Round', serif;
}
form {
    max-width: 500px;
    background-color: lightsteelblue;
    border: 4px midnightblue;
    border-radius: 5px;
}