@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");
body {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Merriweather Sans', sans-serif;
}
header, nav, footer, main {
    grid-column-start: 1;
    grid-column-end: 4;
}
header {
    background-color: #cef3ec;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
#logo {
    max-width: 50%;
    grid-column: 1;
    align-self: flex-end;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr)); 
    margin: 0;
  }
body {
    background-color: whitesmoke;
}
.content {
    max-width: 80%;
    margin: 0 auto;  
}
#hero img {
    max-width: 80vw;
    margin: 0 auto;
}
#bottom {
    background-color: #cef3ec;
}
#bottom iframe {
    padding: 1em;
}
h1 {
    color: #28afb0;
    background-color: #2e4057;
    grid-column-start: 2;
}
h2 {
    color: #2e4057;
    background-color: #28afb0;
}
h1, h2, nav, footer {
    border-radius: 10px;
    padding: .3em;
}
h4 {
    color: #2e4057;
    padding: 1em;
    grid-column-start: 2;
}
nav, footer {
    background-color: #8c86aa;
}
nav a, nav a:visited {
    color:#cef3ec;
}
nav a:hover, footer a:hover {
    color: #aef78e;
}
nav a:active, footer a:active {
    color:chartreuse;
}
#datelm {
    color: yellow;
}
#current {
    font-weight: 700;
    color:chartreuse;
}
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 55px;
  }
footer p {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: start;
  }
.social {
    grid-column: 3;
    justify-self: end;
    max-width: 100%;
  }
.social img {
    max-height: 45px;
    padding-left: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
@media screen and (max-width: 550px) { 
    header, nav, body, footer {
      display: block;
    }
  }