@import url(<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");
#content {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Merriweather Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
header {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr)); 
    margin: 0;
    grid-row-start: 2;
  }
body {
    background-color: #cef3ec;
}
h1, h3 {
    color: #28afb0;
    background-color: #2e4057;
}
#top {
    animation:blinkingText 4s infinite;
    }
    @keyframes blinkingText{
    0%{   color: yellow;   }
    20%{  color: orange; }
    40%{  color: magenta;}
    60%{  color: cyan;   }
    80%{  color: lime;   }
    100%{ color: yellow;   }
}
h2 {
    color: #2e4057;
    background-color: #28afb0;
}
h1, h2, h3, nav {
    border-radius: 10px;
    padding: .3em;
}
nav {
    background-color: #8c86aa;
}
img {
    max-width: 300px;
    grid-column: 3;
}
#p1, #p2, #p3 {
    grid-column: 1;
}
h3 {
    grid-column: 2;
}
nav a, nav a:visited {
    color:#cef3ec;
}
nav a:hover {
    color: #aef78e;
}
nav a:active {
    color:chartreuse;
}